* {
    inset: 0;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp{
    height: 200px;
    border-radius: 100%;
    border: solid;
    border-width: 2em;
    border-color: rgb(53, 50, 214);
}