.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aquamarine;
    color: rgb(40, 4, 49);

    justify-content: center;
    align-items: center;
    height: 64px;
}

.flex-grow {
    flex-grow: 1;
}

.nav {
    background-color: antiquewhite;
    width: 10%;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-dvw {
    min-width: 100dvw;
}

.h-dvh {
    min-height: 100dvw;
}

.nav a:hover {
    background-color: blueviolet;
}