.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aquamarine;
    color: rgb(40, 4, 49);

    justify-content: center;
}