@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lobster&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Cormorant+Garamond:wght@700&family=Dancing+Script:wght@400..700&family=Kanchenjunga:wght@400;500;600;700&family=Lobster&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Coral+Pixels&family=Cormorant+Garamond:wght@700&family=Dancing+Script:wght@400..700&family=Kanchenjunga:wght@400;500;600;700&family=Lobster&family=Shadows+Into+Light&display=swap');

* {
    inset: 0;
    margin: 0;
    padding: 0;

    --theme-primary:  #0D00A4 ;
    --theme-secondary: #006D6F ;

    --theme-accent: #CC8B86 ;
    --theme-surface: #433A3F;


    --theme-primary-content: #006D6F ;
    --theme-secondary-content: #433A3F ;

    --theme-accent-content: #FAF0E6 ;
    --theme-surface-content: #190D19 ;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp{
    height: 200px;
    border-radius: 100%;
    border: solid;
    border-width: 10px;
    border-color: var(--theme-secondary);
}

.bg-primary{
    background: var(--theme-primary);
}

.bg-secondary{
    background: var(--theme-secondary);
}

.bg-accent{
    background: var(--theme-accent);
}

.bg-surface{
    background: var(--theme-surface);
}

.text-primary-content {
    color: var(--theme-primary-content);
}

.text-secondary-content {
    color: var(--theme-secondary-content);
}

.text-accent-content {
    color: var(--theme-accent-content);
}

.text-surface-content {
    color: var(--theme-surface-content);
}

.text-primary {
    color: var(--theme-primary);
}

.text-secondary {
    color: var(--theme-secondary);
}

.text-accent {
    color: var(--theme-accent);
}

.text-surface {
    color: var(--theme-surface);
}

.w-dvw {
    width: 100dvw;
}

.h-dvh {
    height: 100dvh;
}

.nav {
    display:flex;
    flex-direction: column;
}

.nav a {
    color: var(--theme-accent-content);
    text-decoration: none;
    font-size: 1em;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    padding: 2px;
    border-radius: 1rem;
}

.nav a:hover {
    color: var(--theme-surface-content);
    font-family: 'Lobster';
    background: var(--theme-accent);
    padding: 3px;
}

.nav p {
    display:flex;
    flex-direction: column;
    color: var(--theme-accent-content);
    text-decoration: none;
    font-size: 1em;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    padding: 2px;
    border-radius: 1rem;
}

.nav p:hover {
    color: var(--theme-surface-content);
    font-family: 'Lobster';
    background: var(--theme-accent);
    padding: 3px;
}

h1 {
    font-family: 'Bebas Neue';
}

h1:hover {
    color: var(--theme-accent);
    font-family: 'Dancing Script';
    background: var(--theme-surface-content);
    font-weight: 700;
    padding: 2px;
    border-radius: 1rem;
}

.easteregg {
    height: 50px;
    width:50px;

}

:root {
    --theme-background      : #0D00A4;
    --theme-foreground      : #006D6F;
    --theme-user-background : ;
    --theme-user-foreground : ;
    --theme-story-background: ;
    --theme-story-foreground: ;

    color           : var(--theme-foreground);
    background-color: var(--theme-background);

    --theme-accent: #CC8B86 ;
    --theme-surface: #433A3F;


    --theme-primary-content: #006D6F ;
    --theme-secondary-content: #433A3F ;

    --theme-accent-content: #FAF0E6 ;
    --theme-surface-content: #190D19 ;
  }

  body {
    inset: 0;
    margin: 0;
    padding: 0;
  }

  .container {
    width  : 100dvw;
    height : 75dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }

  .history {
    display: flex;
    flex-direction: column;
    width : 768px;
    height: 384px;
    padding: 4px;
    gap    : 4px;
    overflow-x: hidden;
  }

  .controls {
    width  : 768px;
    display: flex;
    flex-direction: row;
  }

  .user-input {
    flex-grow: 1;
    font-size: 20px;
    font-family: monospace;
    color: var(--theme-foreground);
    background: var(--theme-background);
  }

  .user-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    color: var(--theme-foreground);
    background: var(--theme-background);
  }

  .user-text {
    color     : var(--theme-user-foreground);
    background: var(--theme-user-background);
    text-align: right;
    align-self: end;
    font-size: 20px;
    font-family: monospace;
    padding: 8px;
    border: 2px solid LawnGreen
    /* border-radius: 10px; */
  }

  .story-text {
    color     : var(--theme-story-foreground);
    background: var(--theme-story-background);
    align-self: start;
    font-size: 20px;
    font-family: monospace;
    padding: 8px;
    border: 1px solid MediumSeaGreen
  }

  .system-text {
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    padding: 8px;
  }