* {
    inset: 0;
    margin: 0;
    padding: 0;

    --theme-primary:  #0D00A4 ;
    --theme-secondary: #006D6F ;
    --theme-accent: #CC8B86 ;
    --theme-surface: #433A3F;

    --theme-primary-content: #006D6F ;
    --theme-secondary-content: #433A3F ;
    --theme-accent-content: #FAF0E6 ;
    --theme-surface-content: #190D19 ;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp{
    height: 200px;
    border-radius: 100%;
    border: solid;
    border-width: 10px;
    border-color: rgb(53, 50, 214);
}

h1{
    background: var(--theme-primary);
    color: var(--theme-primary-content);
}

.bg-primary{
    background: var(--theme-primary);
}

.bg-secondary{
    background: var(--theme-secondary);
}

.bg-accent{
    background: var(--theme-accent);
}

.bg-surface{
    background: var(--theme-surface);
}

.text-primary {
    color: var(--theme-primary-content);
}

.text-secondary {
    color: var(--theme-secondary-content);
}

.text-accent {
    color: var(--theme-accent-content);
}

.text-surface {
    color: var(--theme-surface-content);
}